@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSansbold/opensans-bold-webfont.eot');
    src: url('../fonts/OpenSansbold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansbold/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSansbold/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/OpenSansbold/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSansbold/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSanslight/opensans-light-webfont.eot');
    src: url('../fonts/OpenSanslight/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSanslight/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/OpenSanslight/opensans-light-webfont.woff') format('woff'),
         url('../fonts/OpenSanslight/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSanslight/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal; background:url(../fonts/OpenSansRegular/OpenSansRegular.eot)

}


h1, .h1{ font-size:2.4em;text-align:left;}
h2, .h2{ font-size:2.0em; text-align:left;margin: 5px 0;}
h3, .h3{ font-size:1.6em;text-align:left;margin: 5px 0;}
h4, .h4{ font-size:1.4em;text-align:left;margin: 5px 0;}
h5, .h5{ font-size:1.2em;text-align:left;}
h6, .h6{ font-size:1.0em;text-align:left;}
a{ font-size:1.3em; }
a:focus{ text-decoration:underline; }
p{  font-size:1.3em; color:#666;  line-height: 23px; text-align:justify; margin-bottom: 10px; }
body{ font-family: 'OpenSansRegular';  font-size: 62.5%; overflow-x:hidden;}
.views-field-title a{  font-size:1.3em; color:#333; }
.views-field-title h2 a{ font-size: 0.9em; text-align: left; line-height: 25px; float:none; display:table; margin:10px 0 0 0;}
.views-field-field-start-date{ color: #9c9c9c;float: left;font-size: 1.4em;margin: 4px 0;width: 100%;}
.views-field-body {  color:#666;  line-height: 23px; text-align:justify; margin: 10px 0;}
.views-field-body ul li{   float: left;font-size: 1.3em;margin: 6px 0 0;width: 100%;}
.views-field-body ul li ul li{font-size:inherit;}
.views-field-body span{ color: #9c9c9c;    font-size: 1.5em;    margin: 0 0 10px;}
.views-field-field-date{color: #666;font-size: 1.2em;margin: 8px 0;}
.views-field-field-url a{color:#096397;}
.views-field-field-attached a{color:#096397;}
.item-list ul li {    border-bottom: 1px solid #ddd;float: left;margin: 0;padding: 0 0 17px;width: 100%;}
.item-list ul .views-field-body li {border-bottom: none;margin: 0 0 0px;padding: 0 0 8px;}
.wrapper{ margin:0 auto; width:1180px;}


/*Header Css*/
header .accessibility_top_nav{ width:100%; float:left; box-sizing: border-box; padding:0 10px; background:#f3f5f3;}
header .header_top_nav_left{ width:49%; float:left;}
header .tophead_line1{ margin: 6px 0; float:left;}
header .tophead_line2{padding: 12px 0 0 15px; color:#686868;  float:left; }
header .tophead_line3 {  float: left;  padding: 11px 0 0 8px;}
header .header_top_nav_right{width:43.5%; float:right; text-align:right;}
header .header_top_nav_right a{ float:left; }
header .header_top_nav_right .skip_cont{  color:#686868; margin: 11px 10px 0 0; float:left;}
header .header_top_nav_right .alink{ font-size: 1.3em;color:#666; margin: 11px 0px 0 10px; float:left;}
header .header_top_nav_right .alink_in {border-left: 1px solid #000;color: #666; float: left;font-size: 1.3em;line-height: 15px;margin: 11px 0 0 10px; padding: 0 12px; }
header .header_top_nav_right .tophead_fb{margin: 8px 0px 0; background:url("../images/face_icon.png") no-repeat; height:25px; width:25px;}
header .header_top_nav_right .tophead_tw{margin: 8px 1px 0;background:url("../images/twit_icon.png") no-repeat; height:25px; width:25px; }
header .header_top_nav_right .tophead_line4{font-size:1.4em; color:#fff; background:#444; padding: 4px 7px; margin-top: 8px; border-radius:1px; margin-left:4px;}
header .header_top_nav_right .tophead_line8{font-size:1.4em; color:#000; background:#fff; padding: 4px 7px; margin-top: 8px; border-radius:1px; margin-left:4px;}
header .header_top_nav_right .tophead_line5{font-size:1.4em; color:#686868;  margin: 9px 10px 0;}
header .header_top_nav_right .tophead_line6{font-size:1.4em; color:#686868; margin: 10px 10px 0 0;}
header .header_top_nav_right .tophead_line7{font-size:1.4em; color:#686868; margin: 10px 10px 0 0;}
header .header_top_nav_right select{background:#f1f1f1; color: #686868; border:1px solid #ccc; font-size: 1.2em;margin-top: 8px; height: 22px; width:125px; float:left; }
header .main_header{ width:100%; float:left; background:#fff; }
header .main_header .logo{ width:64%; float:left; margin:10px 0;}
header .main_header .logo #site-slogan{ float:left; padding: 0px 0 0px 13px; color:#666; font-size: 1em;}
header .main_header .logo a{ float: left;  width:40%;}
header .main_header .logo a img{ float:left;}
header .main_header .logo .subtitle{ font-size:1.5em;}
header .main_header .logo .maintitle{font-size: 2.5em; float:left; padding: 10px 0 10px 10px;}
header .main_header .nav_search{  background: none repeat scroll 0 0 #f0f0f0;    border: 1px solid #ddd;    float: left;    margin-top: 33px;    width: 30%;}
header .main_header .nav_search .search-form{margin:0px;}
header .main_header .nav_search #search-form #edit-basic{  margin: 0;}

header .main_header .nav_search #search-form--2 #edit-basic--2 input { width:280px; padding:0 0 0 10px; height:35px; border:none; background:#f0f0f0; }
header .main_header .nav_search #search-form--2 #edit-basic--2 #edit-submit--2 {background: url("../images/search_icon.png") no-repeat scroll 13px 10px #ccc;border: medium none;border-radius: 0;box-shadow: none;cursor: pointer;float: right;height: 35px;left: inherit;position: inherit;width: 40px;}

header .main_header .nav_search #search-form #edit-basic input { width:280px; padding:0 0 0 10px; height:35px; border:none; background:#f0f0f0; }
header .main_header .nav_search #search-form #edit-basic #edit-submit--2 {background: url("../images/search_icon.png") no-repeat scroll 13px 10px #ccc;border: medium none;border-radius: 0;box-shadow: none;cursor: pointer;float: right;height: 35px;left: inherit;position: inherit;width: 40px;}

header .main_header .nav_search #search-form #edit-basic input { width:280px; padding:0 0 0 10px; height:35px; border:none; background:#f0f0f0; }
header .main_header .nav_search #search-form #edit-basic #edit-submit {background: url("../images/search_icon.png") no-repeat scroll 13px 10px #ccc;border: medium none;border-radius: 0;box-shadow: none;cursor: pointer;float: right;height: 35px;left: inherit;position: inherit;width: 40px;}

header .main_header .nav_search .form-item.form-type-textfield{float:left;width: 80%;}
header .main_header .nav_sitemap{width:5.8%; float:left; text-align:right; margin-top:40px;}
header .main_header .nav_sitemap a{ color:#686868k; font-style:italic; }
header .main_header .nav{ width:100%; float:left;   background: none repeat scroll 0 0 #096397;}
header .main_header .nav ul{ position: relative;}
header .main_header .nav ul li {  float: left; margin: 0; padding: 13px 0; list-style-image:none; list-style-type:none;width: auto !important;}
header .main_header .nav ul li.active-trail{background:#02466D;}
header .main_header .nav ul li a{ font-size:1.4em; color:#fff; padding: 0 19px;border-right: 1px solid #fff;}
header .main_header .nav ul li:last-child a{border:none;}
header .main_header .nav ul li:hover > ul{ display:block;}
header .main_header .nav ul li:hover{ background: #02466D;}
header .main_header .nav .toggle_menu{ display:none;}
header .main_header .nav ul li ul {background: #02466D;box-sizing: border-box; float: left;  padding: 0;  position: absolute;  top: 40px;  width: 20%;}
header .main_header .nav ul li ul li{ float:left; margin:0;background: #02466D; border-bottom:1px solid #fff; width: 100% !important;}
header .main_header .nav ul li ul li a{  border-right:none; padding: 0 0 0 20px; float:left;  width:100%; }
header .main_header .nav ul li ul li:last-child{ border-bottom:none;}

/*Footer Css*/
footer{ width:100%; float:left; position: relative; background:url(../images/footer_back.jpg) repeat;  margin: 10px 0 0;}
footer .footer_nav{
    float: none;
    margin: 0 auto;
    padding: 15px 0;
    width: 100%;}
footer .footer_nav .rmm-button{ right: 9px;}
footer .footer_nav ul li{ display:inline-block; padding:0 25px; border-right:1px solid #fff; }
footer .footer_nav ul li:last-child{ border-right:none;}
footer .footer_nav ul li a{  color:#fff; }
footer .footer_nav ul li a:hover{ color:#e1e1e1;}
footer .footer_bottom{float:left; width:100%; box-sizing: border-box; padding:15px;}
footer .footer_logo{float:left; width:35%;}
footer .footer_content{ width:40%; float:left; color:#6c6c6c; margin-top:15px; }
footer .footer_content p{ text-align:center;margin: 0;}
footer .footer_line3{float:left; width:25%; text-align:right; }
footer .footer_img{ float:left;}
footer .footer_logo1{ float:left; border-right:1px solid #333; height: 100px;}
footer .footer_logo2{ float:left; margin-left:20px;}
footer .footer_img img{ padding:20px 20px 0 0;}
footer .language_changer{ float: right;  width: auto;}
footer .footer_ind_link{float:left; width:100%;}
footer .footer_ind_link a{ float:right; color:#fff;  margin:10px 0;}
footer .footer_date{float:left; width:100%; color:#6c6c6c; font-size:1.3em;}
footer .language_changer select{ border: 2px solid #ddd;   height: 27px;  width: 148px;}
footer .footer_content .cont1{}
footer .footer_content .cont2{}
footer .footer_toggle_menu {background: none repeat scroll 0 0 #5f5f5f; color: #000; display: block; display:none;}
